.about{
	position: relative;
	background-image: url(../images/mount.svg);
	background-repeat: no-repeat;
	background-position: 50% 101%;
	z-index: 0;
	&-info{
		&__text{
			width: 33%;
		}
		&__img{
			position: relative;
			width: 67%;
			height: 710px;
			img{
				position: absolute;
			    top: -75px;
			    right: 0;
			    max-width: 1000px;
			    z-index: -1;
			}
		}
	}
	&-desc{
		padding-top: 60px;
	}
	&-list{
		width: calc(100% + 30px);
		margin: 0 -15px;
		&__item{
			width: calc(100% / 3 - 30px);
			margin: 0 15px;
			&-num{
				position: relative;
				display: inline-block;
				line-height: 1.4;
				@include fontF($kelly, 50px, 400, $color-red);
				&:after{
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					top: 100%;	
					left: 0;
					background-color: $color-red;
				}
			}
			&-desc{
				padding: 10px 0;
				border-top: 3px solid #EDEDED;
				font-size: 18px;
				line-height: 1.4;
			}
		}
	}
}

@media (max-width: 1270px){
	.about-info{
		&__img{
			height: 545px;
			img{
			    max-width: 785px;
			}
		}
	}
	.about-list{
		&__item{
			&-num{
				font-size: 40px;
			}
			&-desc{
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 1000px){
	.about{
		padding-top: 50px;
		&-info{
			flex-direction: column;
			&__text{
				width: 100%;
				text-align: center;
			}
			&__img{
				width: 100%;
				height: 100%;
				text-align: center;
				img{
					position: relative;
					top: 0;
					max-width: 100%;
				}
			}
		}
	}
}

@media (max-width: 767px){
	.about-list{
		width: 100%;
		margin: 0;
		&__item{
			width: 100%;
			margin: 0;
			&-num{
				font-size: 30px;
			}
			&-desc{
				font-size: 14px;
			}
		}
	}
}
