.application{
	position: relative;
	// padding-top: 190px;
	// background: #EBECF0;
	background: radial-gradient(96.74% 96.74% at 50% 21.85%, #FFFFFF 0%, #EBECF0 100%);
	background-image: url(../images/mount-2.svg);
	background-repeat: no-repeat;
	background-position: 50% 203%;
	&__age{
		padding-top: 40px;
		width: calc(100% + 30px);
		margin: 0 -15px;
	}
	&-desc{
		padding-top: 60px;
	}
	&-list{
		width: calc(100% + 30px);
		margin: 0 -15px;
		&__item{
			width: calc(100% / 3 - 30px);
			margin: 0 15px;
			&-num{
				position: relative;
				display: inline-block;
				line-height: 1.4;
				@include fontF($kelly, 50px, 400, $color-red);
				&:after{
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					top: 100%;	
					left: 0;
					background-color: $color-red;
				}
			}
			&-desc{
				padding: 10px 0;
				border-top: 3px solid #EDEDED;
				font-size: 18px;
				line-height: 1.4;
			}
		}
	}
}
.age__item{
	width: calc(100% / 2 - 30px);
	margin: 0 15px;
	height: auto;
	padding: 30px;
	background: #FFFFFF;
	box-shadow: -30px -30px 60px #FAFBFF, 0px 20px 60px rgba(166, 171, 189, 0.4);
	border-radius: 10px;
	&-icon{
		margin-right: 20px;
		span{
			@include fontF($icomoon, 50px, normal, $color-red);
		}
	}
	&-name{
		padding-bottom: 15px;
		@include fontF($kelly, 30px, 400, $color-blue);
	}
	p{
		line-height: 1.6;
	}
}



@media (max-width: 1270px){
	.application{
		background-position: 50% 220%;
	}
	.application-list__item{
		&-num{
			font-size: 40px;
		}
		&-desc{
			font-size: 16px;
		}
	}
	.age__item{
		&-icon{
			span{
				font-size: 40px;
			}
		}
		&-name{
			font-size: 27px;
		}
	}
}

@media (max-width: 1000px){
	.application{
		padding-top: 50px;
		&__name{
			text-align: center;
		}
	}
	.age__item{
		padding: 20px;
		&-icon{
			margin-right: 10px;
			span{
				font-size: 30px;
			}
		}
		&-name{
			font-size: 24px;
		}
		p{
			font-size: 14px !important;
		}
	}
}

@media (max-width: 767px){
	.application{
		&__age{
			width: 100%;
			margin: 0;
			padding-top: 15px;
		}
		&-desc{
			padding-top: 0;
		}
		&-list{
			width: 100%;
			margin: 0;
			&__item{
				width: 100%;
				margin: 0;
				&-num{
					font-size: 30px;
				}
				&-desc{
					font-size: 14px;
				}
			}
		}
	}

	.age__item{
		width: 100%;
		margin: 0 0 30px;
	}
}
