.complex{
	&-info{
		&__text{
			width: 67%;
		}
		&__img{
			position: relative;
			width: 33%;
			height: 250px;
			img{
				position: absolute;
			    top: 0;
			    left: -140px;
			    max-width: 500px;
			}
		}
	}
	&-desc{
		padding-top: 50px;
	}
	&-list{
		width: calc(100% + 30px);
		height: 100%;
		margin: 0 -15px;
		&__item{
			width: calc(100% / 3 - 30px);
			height: auto;
			margin: 0 15px;
			padding: 20px 30px;
			background-color: $color-white;
			box-shadow: -30px -30px 60px #FAFBFF, 0px 20px 60px rgba(166, 171, 189, 0.4);
			border-radius: 10px;
			&-icon{
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 80px;
				height: 80px;
				border-radius: 50%;
				background-color:#F4F4F4;
				margin-bottom: 10px;
				span{
					// height: 35px;
					@include fontF($icomoon, 46px, normal, $color-red);
				}
			}
			&-desc{
				color: $color-blue;
				line-height: 1.6;
			}
		}
	}
}


@media (max-width: 1270px){
	.complex{
		&-info{
			&__img{
				height: 215px;
				img{
					left: auto;
					right: 0;
	    			max-width: 365px;
				}
			}
		}
		&-list{
			&__item-desc{
				line-height: 1.2;
			}
		}
	}
}

@media (max-width: 1000px){
	.complex-info__text{
		width: 100%;
		text-align: center;
	}
	.complex-info__img{
		display: none;
	}
	.complex-list__item{
		padding: 20px;
		&-icon{
			width: 60px;
			height: 60px;
			span{
				font-size: 35px;
			}
		}
		&-desc{
			font-size: 14px;
		}
	}
}

@media (max-width: 767px){
	.complex-list{
		width: 100%;
		margin: 0;
		&__item{
			width: 100%;
			margin: 0 0 30px;
		}
	}
}
