.original{
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
    background: linear-gradient(180deg, transparent 88%, #f7f8f9 88%);
	&-left, &-right{
		position: absolute;
	    top: 0;
	    width: 50%;
	    height: 100%;   
	    z-index: -1;
	}
	&-left{
		left: 0;
		background: radial-gradient(65.27% 65.27% at 50% 34.73%, #415FF5 0%, #344288 100%);
	}
	&-right{
		right: 0;
		background: #FB3141;
	}

	&__title{
		width: 50%;
		color: $color-white;
	}
	&__img{
		position: relative;
	    height: 710px;
	    left: -12px;
	    img{
    	    position: absolute;
	 		top: -116px;
	 		left: 50%;
    		transform: translateX(-50%);
	    }
	}
	&-video{
		position: relative;
		.heading{
			color: $color-white;
		}
		&__text{
			position: absolute;
			width: 50%;
			padding-top: 70px;
			left: 0;
			z-index: 1;
		}
		&__btn{
			margin-top: 30px;
		}

		&__box{
			position: relative;
			width: 66%;
			// height: 430px;
			&:before{
				// content: url(../images/img-5.png);
				content: '';
				background-image: url(../images/img-5.png);
				background-repeat: no-repeat;
				position: absolute;
				top: -275px;
    			left: -321px;
    			width: 768px;
    			height: 380px;
				z-index: 1;
			}
			&:after{
				content: url(../images/img-8.png);
				position: absolute;
				bottom: -82px;
    			left: -240px;
				z-index: 1;
			}
			.video-play__link{
				position: absolute;
				// display: block;
			    width: 100%;
			    height: 100%;
			    z-index: 1;
			    span{
			    	@include fontF($icomoon, 145px, normal, $color-white);
			    	.path1{
			    		&:before{
		    				transition: all 0.3s linear;
			    		}
			    	}
			    	&:hover{
			    		.path1{
				    		&:before{
			    				opacity: .3;
			    				transition: all 0.3s linear;
				    		}
				    	}
			    	}

			    }
			}
			.video-box__img{
				position: relative;
			    overflow: hidden;
			    height: 530px;
			    border-radius: 10px;
				img{
					width: 100%;
				}
			}
		}
	}
}

@media (max-width: 1270px){
	.original{
		&__img{
			height: 494px;
    		left: -8px;
    		img{
    			top: -90px;
			    max-width: 740px;
    		}
		}
		&-video__box{
			&:before{
				top: -145px;
    			left: -144px;
        		background-size: 60%;
			}
			&:after{
				bottom: -100px;
			}
			.video-box__img{
				height: 427px;
			}
			.video-play__link{
				span{
					font-size: 110px;
				}
			}
		}
	}
}

@media (max-width: 1000px){
	.original{
		padding-top: 50px;
		padding-bottom: 50px;
		background: transparent;
		&__img{
			height: auto;
			img{
				position: relative;
				top: 0;
				max-width: 100%;
			}
		}
		&-video{
			margin-top: 30px;
			&__text{
				position: relative;
				.heading{
					font-size: 27px;
					sup{
						top: -10px;
					}
				}
			}
			&__box{
				&:before{
					background-image: none;
					display: none;
				}
				&:after{
					display: none;
				}
				.video-play__link{
					span{
						font-size: 85px;
					}
				}
				.video-box__img{
					height: auto;
				}
			}
		}
	}
}

@media (max-width: 767px){
	.original{
		&-left{
			width: 100%;
		}
		&-right{
			display: none;
		}

		&__title{
			width: 100%;
			text-align: center;
		}
		&-video{
			flex-direction: column;
			&__text{
				width: 100%;
				padding-top: 0;
				text-align: center;
			}
			&__box{
				width: 100%;
			}
			&__btn{
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}
}
