.product{
	position: relative;
	padding-top: 50px;
	background-color: $color-white;
	/* background-image: url(../images/mount-2.svg);
	background-repeat: no-repeat;
	background-position: 50% 0%; */
	&-block{
		padding-top: 25px;
		width: calc(100% + 30px);
		margin: 0 -15px;
	}
	&__item{
		width: calc(100% / 3 - 30px);
		margin: 0 15px;
		padding: 30px 0 30px 30px;
		background: #FFFFFF;
		box-shadow: -30px -30px 60px #FAFBFF, 0px 20px 60px rgba(166, 171, 189, 0.4);
		border-radius: 10px;
	}
	&__desc{
		table{
			margin-top: 15px;
			td{
				padding: 0;
				color: $color-blue;
				font-weight: 700;
			}
		}
	}
	&__price{
		margin-bottom: 15px;
		@include fontF($gotham, 30px, 700, $color-blue);
		
	}
}

.name{
	&-num{
		margin-right: 15px;
		word-break: normal;
		line-height: 1.4;
		@include fontF($kelly, 50px, 700, $color-red);
	}
	&-text{
		color: $color-red;
		font-weight: 700;
	}
}

.price{
	position: relative;
	&_actual{
		font-size: 30px;
		color: $color-red;
		.ruble{
			font-size: 20px;
		}
	}
	&_decor{
		position: relative;
		display: inline-block;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			top: 45%;
			width: 80%;
			height: 2px;
			background-color: $color-red;
			transform: rotate(-12.76deg);
			z-index: 1;
		}
	}
	&_old{
		font-size: 20px;
		color: $color-blue;
		&.price_only{
			font-size: 30px;
			color: $color-blue;
			text-decoration: none;
		}
	}
}

@media (max-width: 1270px){
	.name-num{
		font-size: 40px;
	}
}

@media (max-width: 1000px){
	.product{
		.heading{
			text-align: center;
		}
		&__item{
			padding: 20px 0 20px 20px;
		}
		&__name{
			flex-direction: column;
			align-items: flex-start;
		}
		&__desc{
			margin-top: 10px;
		}
		&__price{
			margin-top: 20px;
		}
	}

	.name-num{
		font-size: 30px;
	}
	.price_old{
		font-size: 16px;
		&.price_only{
			font-size: 26px;
		}
	}
	.price_actual{
		font-size: 26px;
	}
}

@media (max-width: 767px){
	.product{
		&-block{
			/* width: 100%;
			margin: 0; */
		}
		&__item{
			width: calc(100% / 2 - 30px);
			margin-bottom: 30px;
		}
	}
}

@media (max-width: 500px){
	.product{
		&-block{
			width: 100%;
			margin: 0;
		}
		&__item{
			width: 100%;
			margin: 0 0 30px;
		}
	}
}
