.qustions{
	background-color: #fff;
}

.panel{
	padding-top: 15px;
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 1px solid #EDEDED;
    .panel-heading{
        padding-left: 0;
        padding-right: 0;
        border: none;
        border-top: 1px solid #EDEDED;
        background-color: transparent;
        a{
            display: block;
            position: relative;
            padding: 25px 0;
            padding-right: 45px;
            @include fontF($gotham, 20px, 400, $color-black);
            &:before{
                content: '';
                position: absolute;
                right: 25px;
                transform: translateY(-50%) rotate(90deg);
                top: 50%;
                width: 3px;
                height: 20px;
                line-height: 0;
                background-color: $color-blue;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
            &:after{
                content: '';
                position: absolute;
                right: 25px;
                top: 50%;
                transform: translateY(-50%);
                width: 3px;
                height: 20px;
                line-height: 0;
                background-color: $color-blue;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
        }
        .active{
        	&:before{
        		background-color: transparent;
        	}
        	&:after{
        		top: 35%;
                -webkit-transform: rotate(-90deg);
                    -ms-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                background-color: $color-red;
            }
        }
    }
}


@media (max-width: 1000px){
    .qustions{
        .heading{
            text-align: center;
        }
    }
	.panel{
        .panel-heading{
            a{
                padding: 15px 45px 15px 0;
                font-size: 16px;
                &:before, &:after{
                    height: 15px;
                }
            }
        }
    }
}

@media (max-width: 767px){
	
}
