.reviews{
	background-color: #fff;
	&-slider{
		width: 50%;
		padding-right: 100px;
	}
	&-img{
		position: relative;
		width: 50%;
		height: 445px;
		img{
			position: absolute;
		    top: -100px;
		    right: -122px;
		    max-width: 730px;
		    z-index: 1;
		}
	}

	&-carousel{
		&__img{

		}
		&__body{
		    position: relative;
			margin-top: 20px;
			height: 145px;
		    overflow: hidden;
		}
	}

	&-photo{
		position: relative;
		margin-right: 30px;
		width: 73px;
		height: 73px;
		overflow: hidden;
	}
	&-name{
		@include fontF($kelly, 30px, 400, $color-blue);
	}
}

.navigation{
	position: relative;
	bottom: -80px;
}
.counter{
	@include fontF($gotham, 20px, 700, $color-black);
	span{
		position: relative;
		width: 160px;
		&:after{
			content: "";
		    position: absolute;
		    top: calc(50% - 0.5px);
		    left: 35px;
		    width: 100px;
		    height: 2px;
		    background-color: $color-black;
		}
	}
	/* span{
		display: inline-block;
		width: 100px;
		height: 2px;
		background-color: $color-black;
		margin: 0 10px;
	} */
}

@media (max-width: 1270px){
	.reviews{
		&-img{
			height: 393px;
			img{
				top: -70px;
			    max-width: 660px;
			}
		}
		&-carousel__body{
			height: 136px;
		}
	}
}

@media (max-width: 1000px){
	.reviews{
		.heading{
            text-align: center;
            br{
                display: none;
            }
        }
		&-block{
			flex-direction: column;
			margin-top: 20px;
		}
		&-slider{
			width: 100%;
			padding-right: 0;
		}
		&-carousel{
			&__body{
				height: auto;
			}
		}
		&-name{
			font-size: 24px;
		}
		&-img{
			width: 100%;
			height: 100%;
			text-align: center;
			img{
				position: relative;
				top: 0;
				right: 0;
				max-width: 100%;
			}
		}
	}
	.navigation{
		margin-top: 20px;
		bottom: 0;
	}
}

@media (max-width: 767px){
	
}
