.slide{
	padding-top: 100px;
	&-box{
		height: 100%;
	}
	&__text{
		width: 42%;
	}
	&__name{
		padding-bottom: 20px;  
		text-transform: uppercase;
		@include fontF($kelly, 50px, 400, $color-blue);
		span{
		 	color: $color-red;
		}
	}
	&__btn{
		margin-top: 40px;
	}
	&__img{
		position: relative;
		width: 58%;
		height: 520px;
		img{
			position: absolute;
		    top: 0;
		    right: -40px;
		    max-width: 720px;
		}
	}
}

@media (max-width: 1270px){
	.slide{
		&__name{
			font-size: 40px;
		}
		&__img{
			height: 440px;
			img{
				max-width: 660px;
			}
		}
	}
}
@media (max-width: 1000px){
	.slide{
		&-box{
			flex-direction: column;
		}
		&__text{
			width: 100%;
			text-align: center;
		}
		&__name{
			text-align: center;
			br{
				display: none;
			}
		}
		&__desc{
			text-align: center;
		}

		&__img{
			width: 100%;
			height: 100%;
			margin-top: 15px;
			text-align: center;
			img{
				position: relative;
				max-width: 100%;
				right: 0;
			}
		}
	}
}

@media (max-width: 767px){
	.slide{
		padding-top: 140px;
		&__name{
			font-size: 30px;
		}
		&__btn{
			margin-top: 20px;
		}
	}
}

@media (max-width: 425px){
	
}