/* CSS Document */
@media (max-width: 1270px){
	.content-site{
	    width: 960px;
	}
	.heading{
		font-size: 40px;
	}
}


@media (max-width: 1000px){
	.content-site{
	    width: 95%;
	    // width: 600px;
	}
	.bg-left{
		width: 100%;
	}
	.bg-right{
		display: none;
	}
	.pt{
		padding-top: 50px;
	}
	.pb{
		padding-bottom: 50px;
	}
	.heading{
		sup{
			top: -10px;
		}
	}
	p{
		font-size: 14px;
	}
}
@media (max-width: 767px){
	.content-site{
	    width: 95%;
	}
	
	.heading{
		font-size: 30px;
	}
}
