/* Flex */
.fl{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.fl-w{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.fl-d-c{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.fl-jc-c{
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.fl-jc-sb{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.fl-jc-e{
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.fl-ai-c{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.fl-ai-fs{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.fl-ai-fe{
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.fl-ai-bl{
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
}

/* Заголовки */
.heading{
    position: relative;
    padding-bottom: 15px;
    line-height: 1;
    @include fontF($kelly, 50px, 400, $color-blue);
    span{
        color: $color-red;
    }
    sup{
        font-size: 18px;
        top: -1.5em;
    }
}
p{
    line-height: 1.4;
}

/* Color */
.color-red{
    color: $color-red;
}
.color-black{
    color: $color-black;
}
.blue{
    color: $color-blue;
}

.color-text{
    color: $color-text;
}

/* Img */
.absolute-img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
    -o-object-fit: cover;
       object-fit: cover;
}
.absolute-img-contain{
    -o-object-fit: contain;
       object-fit: contain;
}

/* ** */
.pt{
    padding-top: 100px;
}
.pb{
    padding-bottom: 100px;
}

/* Notification Element */
.notifications{
    position: fixed;
    z-index: 9999; 
}
.notifications.top-right{
    right: 10px;
    top: 20%; 
}

@media (max-width: 640px){
    .notifications.top-right>div {
        background-color: $color-red !important;
        border: none !important;
        border-radius: 0;
        padding: 10px 10px;
    }
}
.notifications > div{
    position: relative;
    z-index: 9999;
    margin: 5px 0px; 
    @media (max-width: 640px){
        margin: 0;
    }
}
.notifications-success{
    background: $color-red;
    -webkit-box-shadow: 0px 12px 20px rgba(20, 41, 51, 0.04);
          box-shadow: 0px 12px 20px rgba(20, 41, 51, 0.04);
    padding: 2rem;
    color: #fff; 
}

/* -------------------- */
.mainscreen{
    position: relative;
}
.bg-left, .bg-right{
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;   
    z-index: -1;
}
.bg-left{
    left: 0;
    // background: #eff0f3;
    background: radial-gradient(96.74% 96.74% at 50% 21.85%, #FFFFFF 0%, #EBECF0 100%);
}
.bg-right{
    right: 0;
    background: #F1F1F1;
    // background: radial-gradient(96.74% 96.74% at 50% 21.85%, #FFFFFF 0%, #EBECF0 100%);
}



