/* Кнопки */ 
.btn{
    display: inline-block;
    border: none;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    &:focus, &:active{
        outline: none !important;
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        color: $color-white;
    }
}

.btn-red{
    position: relative;
    padding: 14px 20px;
    border-radius: 0;
    outline: 1px solid rgba(255,255,255, .25); 
    outline-offset: -4px;
    // padding: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#D52A38), to(#FB3141));
    background: -o-linear-gradient(left, #D52A38 0%, #FB3141 100%);
    background: linear-gradient(90deg, #D52A38 0%, #FB3141 100%);
    transition: all .3s ease-in-out;
    @include fontF($kelly, 18px, 400, $color-white);
    &:hover, &:active{
    	outline: 1px solid rgba(255,255,255, .25) !important; 
    	outline-offset: -4px;
        color: $color-white;
        background: linear-gradient(90deg, #0E0B0B 0%, #433435 100%);
        transition: all .3s ease-in-out;
    }
}

@media (max-width: 1600px){
	.btn{
		font-size: 16px;
	}
}
@media (max-width: 1400px){
	
}
@media (max-width: 1270px){
	.btn{
		// font-size: 14px;
	}
}
@media (max-width: 767px){
	
}