$kelly: 'Kelly Slab';
$gotham: 'GothamPro';
$icomoon: 'icomoon';


@font-face {
  font-family: $kelly;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: $gotham;
  src: url('../fonts/GothamPro.ttf');
  src: local('GothamPro'), local('GothamPro'),
      url('../fonts/GothamPro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $icomoon;
  src:  url('../fonts/icomoon.eot?na6e8g');
  src:  url('../fonts/icomoon.eot?na6e8g#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?na6e8g') format('truetype'),
    url('../fonts/icomoon.woff?na6e8g') format('woff'),
    url('../fonts/icomoon.svg?na6e8g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}