.footer{
    background: radial-gradient(136.28% 136.28% at 50% 0%, #344288 0%, #101946 100%);
    &-panel{
        padding: 60px 0;
    }
    &-logo{
        text-transform: uppercase;
        a{
            @include fontF($kelly, 24px, 400, $color-white);
        }
        span{
            color: $color-red;
        }
    }
    .policy{
        margin-top: 15px;
        @include fontF($gotham, 14px, 400, $color-white);
    }
    .item{
        width: 25%;
        ul{
            li{
                padding-bottom:  5px;
                a{
                    line-height: 1.4;
                    @include fontF($gotham, 18px, 400, $color-white);
                    &:hover{
                        color: $color-red;                   
                    }
                }
            }
        }
    }
    &-address{
        font-size: 14px;
        color: $color-white;
        .address-bottom{
            margin-top: 20px;
            a{
                text-decoration: underline;
            }
        }
        a{
            display: block;
            line-height: 1.6;
            @include fontF($gotham, 18px, 700, $color-white);
        }
       
    }
    &-contact{
        font-size: 14px;
        color: $color-white;
        .phone{
            @include fontF($gotham, 18px, 700, $color-white);
        }
        .location{
            line-height: 1.6;
        }
        .btn{
            margin: 20px 0;
        }
    }
    .dc56{
        p{
            padding-bottom: 5px;
        }
        a{
            @include fontF($gotham, 14px, 400, #757575);
            span{
                @include fontF($icomoon, 24px, normal, $color-black);
            }
        }
    }
}


@media (max-width: 1270px){
    .footer{
        .item{
            ul{
                li{
                    a{
                        font-size: 16px;
                    }
                }
            }
        }
        &-address{
            a{
                font-size: 16px;
            }
        }
        &-contact{
            .phone{
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 1000px){
    .footer-panel{
        padding: 50px 0;
    }
}

@media (max-width: 767px){
    .footer{
        &-panel{
            flex-direction: column;
            justify-content: center;
            padding: 30px 0;
        }
        .item{
            width: 100%;
            margin-bottom: 25px;
            text-align: center;
            &:last-child{
                margin-bottom: 0;
            }
            ul{
                li{
                    a{
                        font-size: 14px;
                    }
                }
            }
        }
        &-logo{
            a{
                font-size: 21px;
            }
        }
    }
}