.header{
	position: absolute;
	top: 30px;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	background-color: transparent;
	z-index: 2;
	&__logo-abs{
		position: absolute;
		top: 30px;
		left: 30px;
		@media (max-width: 1560px){
			display: none;
		}
	}
	&__logo-content{
		@media (min-width: 1561px){
			display: none;
		}
	}
	&__logo{
		
		text-transform: uppercase;
		a{
			@include fontF($kelly, 24px, 400, $color-blue);
		}
		span{
			color: $color-red;
		}
	}
	
	.hide-header{
		display: none;
	}
	&__menu{
		ul{
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
	        li{
				position: relative;
				padding-right: 40px;
				a{
					position: relative;
				    display: block;
				    outline: none;
				    text-decoration: none;
				    cursor: pointer;
				    @include fontF($gotham, 18px, 400, $color-text);
				    &:hover{ 
				    	color: $color-red;
				    }

				}
				&:last-child{
					padding-right: 0;
				}
			}
		}
	}
	&__contacts{
		.phone{
			margin-right: 10px;
			@include fontF($gotham, 13px, 400, $color-text);
			a{
				display: block;
				padding-top: 3px;
				@include fontF($kelly, 26px, 400, $color-blue);
			}
		}
	}
}


@media (max-width: 1560px){
	.header{
		&__logo{
			margin-right: 10px;
			a{
				font-size: 21px;
			}
		}
		&__menu{
			ul{
				li{
					a{
						font-size: 16px;
					}
				}
			}
		}
		&__contacts{
			.phone{
				a{
					font-size: 21px;
				}
			}
		}
	}
}

@media (max-width: 1270px){
	.header{
		&__logo{
			a{
				font-size: 18px;
			}
		}
		&__menu{
			ul{
				li{
					padding-right: 15px;
					a{
						font-size: 14px;
					}
				}
			}
		}
		&__contacts{
			.phone{
				a{
					font-size: 21px;
				}
			}
		}
	}
}

@media (max-width: 1000px){
	.header__menu{
		display: none;
	}
	.header{
		top: 15px;
	}
}
@media (max-width: 767px){
	.header{
		.content-site{
			flex-wrap: wrap;
		}
		&__logo{
			width: 100%;
			margin-bottom: 15px;
		}
		&__contacts{
			width: 100%;
			justify-content: flex-end;
			.phone{
				text-align: right;
				margin-right: 0;
				a{
					font-size: 16px;
				}
			}
		}
	}
	.callback{
		display: none;
	}
}

@media (max-width: 480px){
	
}