/* ------------ */
.breadcrumbs{
	background: #F8F8F8 !important;
	margin: 0 !important;
}
.breadcrumb{
	padding: 25px 0 !important;
	background-color: #F8F8F8 !important;
	li{
		padding: 0 !important;
		margin: 0 !important;
		+li{
			&:before{
				content: "/";
			    padding: 0px 4px 0 7px;
				@include fontF($gotham, 18px, 400, #A4A4A4);
			}
		}
		a{
			text-decoration: underline;
			@include fontF($gotham, 16px, 400, $color-text);
		}
	}
	.active{
		@include fontF($gotham, 16px, 400, #A4A4A4);
	}
}
/* Заголовок на внутр */
.heading-inner{
	padding-bottom: 40px;
}

.page-in{
	padding-bottom: 30px;
	h1{
		padding-top: 15px;
		font-size: 30px;
	}
	h2{
		padding-top: 10px;
	}
	h3{
		padding-top: 10px;
	}
	p{
		padding: 6px 0 !important;
		font-family: 'GothamPro' !important;
		font-size: 16px !important;
		font-weight: 400 !important;
		color: $color-black !important;
	}
	strong{
		color: $color-black;
	}
	ul{
		list-style-position: inside;
		margin-bottom: 15px !important;
		list-style-type: disc;
		li{
			line-height: 1.4;
		}
	}
	label{
		@include fontF($gotham, 16px, 700, $color-black);
	}
	.contact-flex{
		iframe{
			height: 400px;
		}
	}
	.flex-block{
		margin-bottom: 15px;
		p{
		    padding: 0;
    	}
    	label{
			font-size: 18px !important;
		}
	}
}

/* Страница поиска z-search */
.page-search{
	h4{
		padding-top: 30px;
	}
	.form-inline{
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 30px 0;
	}
	.form-control{
		position: relative;
		top: 0;
		width: 100%;
		background: rgba(255,255,255,0.1);
        border: 1px solid rgba(0,0,0,0.15);
        margin-right: 15px;
        color: $color-black;
	}
	.btn-call{
		padding: 10px 20px;
	}
}

@media (max-width: 1400px){
	
}

@media (max-width: 1280px){
	.page-in{
		p{
			font-size: 16px !important;
		}
		table{
			font-size: 14px;
		}
	}
}

@media (max-width: 1000px){

}
@media (max-width: 767px){
	.breadcrumbs{
		/* display: none; */
		margin: 0;
		padding: 0 !important;
	}
	.breadcrumb{
		li{
			a{
				font-size: 14px;
			}
		}
		.active{
			font-size: 14px;
		}
	}
	.page-in{
		h1{
			font-size: 24px;
		}
	}

	/* Страница поиска */
	.page-search{
		h4{
			padding-top: 0;
		}
		.form-inline{
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			-webkit-box-align: start;
			    -ms-flex-align: start;
			        align-items: flex-start;
		}
		.form-control{
			margin-bottom: 15px;
		}
	}
}

@media (max-width: 500px){
	.page-in{
		img{
			float: none;
			width: auto;
			height: auto;
		}
	}
}