$color-basic: #464646;
$color-form: #242424;
$color-white: #fff;
$color-black: #323232;

/* ------------- */
$color-blue: #344288;
$color-red: #FB3141;
$color-text: #757575;



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $icomoon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  width: 100%;
}
body, p, h1, h2, h3, h4, div, ul, li, div{
  margin: 0px; padding: 0px; border: 0px;
}

body{
  background: #FAFAFB;
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
  height: 100%;
  min-height: 100%;
  word-break: break-word;
  @include fontF($gotham, 16px, 400, $color-black);
}

ul{
  list-style: none;
  margin:0px !important;
  padding:0px !important;
}

.row{
  /*margin: 0px !important;*/
}

.list-view{
  padding: 0px !important;
}

*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
}

p{
  line-height: 1.2 !important;
}

a{
  outline: none !important;
  text-decoration: none;
  @include delay;
  &:hover{
    @include delay;
    text-decoration: none !important;
  }
  &:focus, &:active{
    @include delay;
    text-decoration: none !important;
  }
}

img{
  max-width: 100%;
  width: auto;
}
.wrapper{
  overflow: hidden;
}
.container-site{
  position: relative; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  width: 100%;
  // overflow-x: hidden;
  line-height: 1.2;
}
.wrap1{
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrap2{
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.content-site{
  width: 1200px; 
  /* margin-left: auto;*/
  margin: 0 auto;
  height: 100%;
  @include fontF($gotham, 16px, 400, $color-text);
}

.page-in{
  img{
    max-width: 100%;
  }
  ul, ol{
    /* list-style: disc !important;*/
    margin-left: 15px;
    li{
      padding: 5px;
      margin: 0px 15px;
    }
  }
}

.breadcrumbs{
  padding: 10px 0px !important;
  margin: 20px auto;
  background: #fff;
  .breadcrumb{
    background: none;
  }
  a{
    &:hover{
      color: #f41a1a;
    }
  }
}

.icon-left:before {
  content: "\e904";
}
.icon-right:before {
  content: "\e90a";
}
.icon-1:before {
  content: "\e900";
  color: #fb3141;
}
.icon-2:before {
  content: "\e901";
  color: #fb3141;
}
.icon-3:before {
  content: "\e902";
  color: #fb3141;
}
.icon-kids:before {
  content: "\e903";
  color: #fb3141;
}
.icon-man:before {
  content: "\e905";
  color: #fb3141;
}
.icon-minus:before {
  content: "\e906";
  color: #ea0000;
}
.icon-play .path1:before {
  content: "\e907";
  color: rgb(0, 0, 0);
  opacity: 0.1;
}
.icon-play .path2:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-plus:before {
  content: "\e909";
  color: #344288;
}
.icon-star:before {
  content: "\e90b";
  color: #f40034;
}
.icon-DCMedia-- .path1:before {
  content: "\e90c";
  color: rgb(255, 255, 255);
}
.icon-DCMedia-- .path2:before {
  content: "\e90d";
  margin-left: -4.232421875em;
  color: rgb(255, 255, 255);
}
.icon-DCMedia-- .path3:before {
  content: "\e90e";
  margin-left: -4.232421875em;
  color: rgb(255, 255, 255);
}
.icon-DCMedia-- .path4:before {
  content: "\e90f";
  margin-left: -4.232421875em;
  color: rgb(234, 198, 60);
}
.icon-DCMedia-- .path5:before {
  content: "\e910";
  margin-left: -4.232421875em;
  color: rgb(43, 43, 43);
}
.icon-DCMedia-- .path6:before {
  content: "\e911";
  margin-left: -4.232421875em;
  color: rgb(234, 198, 60);
}
.icon-DCMedia-- .path7:before {
  content: "\e912";
  margin-left: -4.232421875em;
  color: rgb(45, 45, 45);
}
.icon-DCMedia-- .path8:before {
  content: "\e913";
  margin-left: -4.232421875em;
  color: rgb(234, 198, 60);
}
