/* Боковое меню */
html{
    // overflow-x: hidden;
    // overflow-x: auto;
}
body{
    -webkit-transition: -webkit-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: -webkit-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.mobile-panel{
    display: none;
    margin-left: 15px;
    .m-menu-button{
        position: relative;
        /* top: 10px; left: 15px;*/
        background: transparent;
        width: 25px;
        height: 25px;
        overflow: hidden;
        cursor: pointer;
        z-index: 10;
        @include transform-mobile-link;
        .line{
            display: block;
            width: 100%;
            height: 2px;
            background: $color-blue;
            margin: 5px 0;
            opacity: 1;
        }
    }

    .mobile-menu{
        overflow-y: scroll;
        position: fixed;
        top: 0; left: 0;
        bottom: 0;
        width: 101%;
        height: 100vh;
        overflow: hidden;
        padding-left: 0;
        -webkit-transition-delay: .1s;
             -o-transition-delay: .1s;
                transition-delay: .1s;
        background: radial-gradient(96.74% 96.74% at 50% 21.85%, #fff 0%, #EBECF0 100%);
        z-index: 254;
        @include transform-mobile-menu;
        @include transition-line;
        .dropbtn{
            display: none;
        }
        .m-menu-buttons{
            position: fixed;
            top: 15px; right: -10px;
            z-index: 15;
            background: transparent;
            width: 50px;
            height: 40px;
            overflow: hidden;
            cursor: pointer;
            @include transform-mobile-link;
            .line{
                display: block;
                width: 50%;
                height: 2px;
                background: $color-blue;
                margin: 8px auto;
                opacity: 1;
                &:nth-child(1){
                    @include rotate-first-line;
                }
                &:nth-child(3){
                    @include rotate-last-line;
                }
                &:nth-child(2){
                    @include rotate-two-line;
                }
            }
        }
        .close{
            left: 65%;
            opacity: 1;
            @include transform-mobile-link;
            .line{
                &:nth-child(1){
                    @include rotate-first-line;
                }
                &:nth-child(3){
                    @include rotate-last-line;
                }
                &:nth-child(2){
                    @include rotate-two-line;
                }
            }
        }
    }
    &.active-menu{
        .mobile-menu{
            -webkit-transform: translateX(-1%);
                -ms-transform: translateX(-1%);
                    transform: translateX(-1%);
            overflow-y: scroll;
        }
        .m-menu-button{
            opacity: 0;
        }
        .close{
            opacity: 1;
        }
    }
    .mobile-content{
        padding: 45px 15px 15px 25px;
        ul{
            text-align: left;
            li{
                margin: 10px 0px;
                a{
                    display: block;
                    /* padding: 15px 0;*/
                    text-decoration: none;
                    text-transform: uppercase;
                    @include fontF($kelly, 16px, 700, $color-blue);
                    &:hover{
                        color: $color-red;
                    }
                }
                ul{
                    display: none;
                }
            }
        }
        a{
            display: block;
            padding-bottom: 8px;
            @include fontF($gotham, 16px, 400, $color-black);
        }
        p{
            @include fontF($gotham, 18px, 900, $color-black);
        }
    }
}

@media (max-width: 1000px){
    .mobile-panel{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (max-width: 767px){
    .mobile-panel{
        .m-menu-button{
            position: absolute;
            top: 5px;
            right: 15px;
        }
    }
}