.help-block{
    margin-bottom: 0;
}
.compensate-for-scrollbar{
    margin-right: 0 !important;
}
.control-label{
    display: none;
}
.modal-my{
    .modal-dialog{
        margin: 10px auto;
        width: 300px;
        .modal-content{
            border-radius: 0;
        }
    }
    .modal-header{
        padding: 30px 20px 20px;
        .modal-close{
            position: absolute;
            top: 10px;
            right: 15px;
            cursor: pointer;
            .fa-times{
                font-size: 20px;
            }
        }
        .modal-my-heading{
            h3{
                @include fontF($gotham, 26px, 900, $color-red);
                span{
                    color: $color-black;
                }
            }
            p{
                padding: 5px 0;
                @include fontF($gotham, 18px, 400, $color-black);
            }
        }
    }
    .modal-body{
        @include fontF($gotham, 16px, 400, $color-black);
        label{
            @include fontF($gotham, 16px, 400, $color-black);
        }
        input{
            height: auto;
            padding: 10px;
            &::-webkit-input-placeholder { 
                font-style: normal;
            }
            &::-moz-placeholder { 
                font-style: normal;
            }
            &:-ms-input-placeholder { 
                font-style: normal;
            }
            &:-moz-placeholder { 
                font-style: normal;
            }
        }
        .error{
            @include fontF($gotham, 16px, 400, $color-red);
        }
        .form-bot{
            .form-captcha{
                position: relative;
                left: -18px;
                top: 0px;
                display: block;
                margin: 0;
                -webkit-transform: scale(0.85);
                    -ms-transform: scale(0.85);
                        transform: scale(0.85);
            }
            .form-button{
                margin-top: 15px;
            }
            .btn-red{
                width: 100%;
                padding: 14px 40px;
            }
        }
        .terms_of_use{
            color: #959595;
            font-size: 12px;
            line-height: 1.2;
            padding: 15px 0px 0px;
            a{
                color: #959595;
                text-decoration: underline;
            }
        }
    }
}

@media (max-width: 1600px){
   
}
@media (max-width: 1400px){
    
}
@media (max-width: 1270px){
    
}
@media (max-width: 767px){
    
}