@charset "UTF-8";

/* Slick icon entity codes outputs the following*/
/* "\2022" outputs ascii character "•"*/

$slick-font-path: "../stick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "../stick/" !default;
$slick-dot-color: black !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-dot-character: "\2022" !default;
$slick-dot-size: 6px !default;
$slick-opacity-default: 0.75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.25 !default;

@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}

/* Slider */
.slick-list {
    .slick-loading & {
        background: #fff url("../images/ajax-loader.gif") center center no-repeat;
    }
}

/* Arrows */
.slick-prev,
.slick-next {
    position: relative;
    /* position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); */
    width: 45px;
    height: 45px;
    padding: 0;
    text-align: center;
    border-radius: 0;
    border: 1px solid #E9EAF3; 
    outline: 1px solid rgba(255,255,255, .25); 
    outline-offset: -4px;
    background: $color-black;
    z-index: 5;
    cursor: pointer;
    @include transition(all .3s ease);
    &:before{
        content: "\e90f";
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        @include fontF($icomoon, 14px, normal, $color-white);
    }
    &:hover, &:active{
        background: linear-gradient(90deg, #D52A38 0%, #FB3141 100%);
        @include transition(all .3s ease);
        &:before{
            color: $color-white;
        }
    }
    &.slick-disabled {
        opacity: $slick-opacity-not-active;
        border: 1px solid #D5D5D5;
        background: $color-white;
        &:hover, &:focus {
            background: $color-white;
            &:before{
                color: $color-black;
            }
        }
    }
}
.lin-gradient-start{
    stop-color: #E4175A;
}
.lin-gradient-end{
    stop-color: #FF558D;
}
.slick-next {
    // right: -80px;
    &:before{
        content: "\e90a";
        left: 53%;
    }
}
.slick-prev {
   // left: -80px;
   margin-right: 10px;
    &:before{
        content: "\e904";
        left: 47%;
    }
}

/* Dots */
.slick-dotted.slick-slider {
    /* margin-bottom: 30px;*/
}

.slick-dots{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* width: 20%;*/
    position: relative;
    top: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 8;
    li{
        margin-right: 10px;
        height: 10px;
        width: 10px;
        button{
            width: 10px;
            height: 10px;
            border: none;
            padding: 0;
            border-radius: 50%;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            background: $color-white;
            border: 1px solid #E9EAF3;
            opacity: 0.75;
        }
    }
    .slick-active{
        display: inline-block;
        button{
            background: $color-white;
            opacity: 1;
        }
    }
}

@media (max-width: 767px){
    .slick-prev,
    .slick-next{
        width: 40px;
        height: 40px;
    }
}